CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_SYS_TEXT_BASE=0x17800000
CONFIG_TARGET_NAD_NMB=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/nad/mx6/nad_vm301.cfg,MX6DL"
CONFIG_SYS_CONSOLE_OVERWRITE_ROUTINE=y
CONFIG_BOOTDELAY=0
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_USB=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_PHYLIB=y
CONFIG_PHY_SMSC=y
CONFIG_PHY_GIGE=y
CONFIG_USB=y
CONFIG_USB_EHCI=y
CONFIG_OF_LIBFDT=y
CONFIG_NAD_BOOT_GPIO_C658=y
# CONFIG_VIDEO=y
# CONFIG_VIDEO_SW_CURSOR is not set
CONFIG_BAUDRATE_PIC=115200
CONFIG_NAD_DRAM_HALF_GIG=y
CONFIG_MFG=y
